{% include 'head.html'%}
<style>
body {
 background-image: url("https://img.freepik.com/premium-vector/canteen-interior-scenes_1300-1189.jpg?w=2000");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  max-height:100%;

}

</style>
<div class="container" >
    <form action="viewFood">
        <div class="row  card-header">
            <div class="col-md-1"></div>
            <div class="col-md-4  card-header">
                <select id="FoodCategory_id" name="FoodCategory_id"   class="form-control">
                    <option value="all">All</option>
                    {% for category in  categories: %}
                    <option style="background-color:Tomato" value="{{category['_id']}}"
                            {% if str(FoodCategory_id) == str(category['_id']) : %}
                            selected
                            {% endif%}
                    >{{category['food_category_name']}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 ">
               <input type="search"  id="food_item_name" name="food_item_name" {% if food_item_name  != None: %}  value="{{food_item_name}}" {% endif %} class="form-control" placeholder="Search Food" >
            </div>
            <div class="col-md-2">
                <input type="submit" value="Search" class="btn  btn-primary w-100" >
            </div>
        </div>
    </form>
</div>
<div class="container mt-4">
    <div class="row">
        {% for food in food_items %}
         {% set rating = getReviewCustomer(food['_id']) %}
        {% set category = getCategoryFood(food['FoodCategory_id'])%}
        <div class="col-md-6">
            <div class="card p-2">
                <div class=" text-center card-header h6">{{food['food_item_name']}}</div>
                <div class=" text-end  h6">{{rating}}</div>
                <div class="row">
                    <div class="col-md-4">
                     <div><img src="/static/Picture/{{food['photo']}}" class="mt-1" style="max-width:100%;height:60px;"></div>
                    </div>
                    <div class="col-md-4">
                       <div class="text-secondary mt-2" style="font-size:10px">Quantity:</div>
                         <div class="" style="font-size:12px">{{food['quantity']}}</div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-secondary mt-1" style="font-size:10px">Price :</div>
                          <div class="" style="font-size:12px">$ {{food['price']}}</div>
                    </div>
                      <div class="col-md-4">
                        <div class="text-secondary mt-1" style="font-size:10px">Units :</div>
                          <div class="" style="font-size:12px">{{food['units']}}</div>
                    </div>
                     <div class="col-md-4">
                        <div class="text-secondary mt-1" style="font-size:10px">Food Type :</div>
                          <div class="" style="font-size:12px">{{category['food_category_name']}}</div>
                    </div>
                     <div class="col-md-4">
                          <div class="text-secondary mt-1" style="font-size:10px">Status :</div>
                          <div class="" style="font-size:12px"> {{food['status']}}</div>
                    </div>

                </div>
               <div class="card-body">
                   <div class="text-secondary">About Food</div>
               <div class="" style="font-size:12px;overflow:auto;height:50px">{{food['food_description']}}</div>
               </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-3">
                            {% if session['role']=='User'%}
                         <a href="foodReviews?Food_item_id={{food['_id']}}" class="btn btn-primary w-100">Reviews</a>
                            {% endif%}
                            {% if session['role']=='admin'%}
                            {% if food['status'] == 'Food Available' %}
                            <a href="disableFood?Food_id={{food['_id']}}" class="btn btn-danger w-100">Disable</a>
                            {% else: %}
                              <a href="enableFood?Food_id={{food['_id']}}" class="btn btn-primary w-100">Enable</a>
                            {% endif%}
                            {% endif%}
                        </div>
                        <div class="col-md-3"></div>
                          <div class="col-md-6">
                              {% if session['role']=='User'%}
                              <form action="addCart" method="post">
                              <input type="number" class="form-control" name="order_count" placeholder="Enter Quantity" required>
                              <input type="hidden" name="Food_item_id" value="{{food['_id']}}">
                              <input type="submit" value="Add To Cart" class="btn btn-danger w-100 mt-1">
                              </form>
                              {% endif%}
                          </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>
</div>